
@{ 
    ViewData["Title"] = "Sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var totalPage = Math.Ceiling((int)ViewData["TotalOrder"] / 10.0);
}
@section Css{
    <link href="~/lib/jquery-pagination/pagination.css" rel="stylesheet" />
}

<div class="row">
    <h2>Danh sách đơn hàng</h2>
    <hr />
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Tên tài khoản</th>
                <th>Trạng thái</th>
                <th>Tổng tiền</th>
                <th>Ngày tạo</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody id="MainContent">
            
        </tbody>
    </table>
    <div id="Paging">
        <ul class="sync-pagination"></ul>
    </div>
</div>

@section Scripts{ 
    <script src="~/lib/esimakin-twbs-pagination/jquery.twbsPagination.min.js"></script>
    <script>
        $('.sync-pagination').twbsPagination({
            totalPages: @totalPage,
            onPageClick: function (evt, page) {
                $.ajax({
                    type: 'get',
                    url: '/Admin/Sales/GetListOrders/' + page,
                    success: function (response) {
                        $("#MainContent").html(response)

                    }
                });
            }
        });

        $(document).ready(function () { 
            $.ajax({
                type: 'get',
                url: '/Admin/Sales/GetListOrders/' + 1,
                success: function (response) {
                    $("#MainContent").html(response)

                }
            });
        });
    </script>
}

