@model IEnumerable<BanHang.ViewModel.CategoryViewModel.CategoryListViewModel>
<div class=" top-nav rsidebar span_1_of_left">
    <h3 class="cate">CATEGORIES</h3>
    <div class="menu">
        <ul class="kid-menu">
        @foreach (var item in Model)
        {
            <li>
                <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-CategoryId="@item.CategoryId">@item.CategoryName</a>
            </li>
        }
        </ul>
    </div>
</div>